{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block pageTitle %}Ajouter Nouvel livre{% endblock %}


{% block body %}

{{ include('livre/_form.html.twig') }}

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="d-flex">
                <a href="{{ path('livre_index') }}" class="btn btn-default">back to list</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}