{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block pageTitle %}Ajouter Nouvel auteur{% endblock %}

{% block body %}

{{ include('auteur/_form.html.twig') }}

<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="d-flex">
                <a href="{{ path('auteur_index') }}" class="btn btn-default">back to list</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}