{% extends 'base.html.twig' %}

{% block title %}Edit Abonne{% endblock %}

{% block body %}

    {{ include('abonne/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="d-flex">
                <a href="{{ path('abonne_index') }}" class="btn btn-default mr-20">back to list</a>
               {{ include('abonne/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
